<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<h2> Login </h2>
<ion-list>
  <ion-item>
    <ion-input [(ngModel)]="username" name="username" placeholder="Username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Password"></ion-input>
  </ion-item>
  <ion-item>
    <div id="check">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Remember Me!</ion-label>
    </div>
  </ion-item>
</ion-list>
<ion-button (click)="login()" shape="large" size="round" color="success"> LOGIN <ion-icon name="log-in"></ion-icon>
</ion-button>
</ion-content>

