ion-checkbox {
    --size: 20px;
    --checkbox-background-checked: yellow;
}

ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid yellow;
}
ion-button {
    padding: 10px;
    align-self: center;
    width:95%; 
}

h2 {
    margin-left: 15px;
}
ion-list {
    width:90%;
    float: left;
}
#check {
    display: flex;
    flex-direction: row;
    height: min-content;
}

#check ion-label {
    margin-top: 15px;
    margin-left: -10px;
}

#check ion-button {
    margin-right: 5px;
}
