<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <div id="headerBar">
      <h4> Store Score</h4>
      <div id="login" *ngIf="isName; else login">
        <ion-icon (click)="logout()" name="log-out-outline"></ion-icon>
      </div>
      <ng-template id="login" #login>
        <ion-icon (click)="navToLog()" name="log-in-outline"></ion-icon>
      </ng-template>
    </div>
  </ion-toolbar>
</ion-header>>

<ion-content [fullscreen]="true">
  <h1><i>Write a Review</i></h1>
  <div id="reviewBox">
  
    <ion-item>
      <ion-select name="restaurant" [(ngModel)]="restaurant" placeholder="Select restaurant" color="warning">
        <ion-select-option value="Big Poppa Pizza"> Big Poppa Pizza </ion-select-option>
        <ion-select-option value="Tandoori Nights"> Tandoori Nights </ion-select-option>
        <ion-select-option value="Burger Bazaar"> Burger Bazaar </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-textarea color="warning" [(ngModel)]="description"  color="warning" label="Review" labelPlacement="floating" placeholder="Enter your thoughts about the restaurant" ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-input color="warning" [(ngModel)]="rating" color="warning" label="Rating" labelPlacement="floating" step="0.1" type="number" min="0" max="5" placeholder="Please enter a number between 1 & 5"></ion-input>
    </ion-item>
    <p>Date Visited</p>
    <ion-item>
      <ion-datetime-button color="warning" datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime  [(ngModel)]="date" id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    
  <ion-button color="warning" (click)="add()"> Submit </ion-button>
  </div>

</ion-content>
