#reviewBox ion-title{
    margin-bottom: 10px;
}

#reviewBox ion-button {
    margin-top: 15px;
    width:98%; 
}
#reviewBox {
    display: flex;
    flex-direction: column; 
    width:100%; 
    justify-content: flex-start;
}
ion-datetime {
    padding:1px; 
}
ion-content p {
    margin-left: 7%;
}
#reviewBox * { 
    width:100%; 
}
ion-item {
    width:100%; 
    align-self: flex-start;
    //border-bottom: 1px solid rgba(184, 183, 183, 0.634);
}
h1 {
    text-align: center;
}
