#restHeader {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width:700px; 
}
ion-title {
    font-size:large; 

}
#reviewTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
}