<ion-header [translucent]="false">
  <ion-toolbar color="warning">
    <div id="restHeader">
      <ion-back-button></ion-back-button>
      <p> {{uName}} ({{reviewCount}}) {{avgRating}} <ion-icon name="star-outline"></ion-icon></p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="restList">
  <ion-card *ngFor="let r of restReviews">
    <div id="cardHeader">
      <div>
        <h5>
          {{r['name']}}  
        </h5>
      </div>
        <p> {{r['restaurant']}}</p>
    </div>
    <div id="subtitle">
      <h5>{{r['rating']}} <ion-icon name="star-outline"></ion-icon></h5>
      <p> {{r['date']}}</p>
    </div>
    <div id="cardContent">
      {{r['description']}}
    </div> 
  </ion-card>
  </div>
</ion-content>

