#reviewBox ion-title {
    margin-bottom: 10px;
}

#reviewBox ion-button {
    margin-top: 15px;
    width: 98%;
}

#reviewBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}

ion-datetime {
    padding: 1px;
}

ion-content p {
    margin-left: 7%;
}

#reviewBox * {
    width: 100%;
}

ion-item {
    width: 100%;
    align-self: flex-start;
    //border-bottom: 1px solid rgba(184, 183, 183, 0.634);
}

h1 {
    text-align: center;
}
ion-back-button {
    font-size:small; 
}
#restHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 700px;
}

ion-title {
    font-size: large;

}

#restHeader p {
    margin-left: 10px;
}

ion-back-button {
    font-size: small;
}

#reviewTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
}

ion-content h4 {
    margin-left: 5%;
}

#accInfo {
    display: flex;
    flex-direction: row;
}

ion-card {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

#cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#subtitle {
    margin-top: -15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#subtitle p {
    margin-left: 20px;
    margin-top: 17px;
}

#cardHeader p {
    margin-top: 20px;
}