<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <div id="headerBar">
      <ion-back-button (click)="saveAlert()"></ion-back-button>
      <h4> Store Score</h4>
      <div *ngIf="isName; else elseBlock">
        <ion-button (click)="logout()"> Logout </ion-button>
      </div>
      <ng-template #elseBlock>
        <ion-button (click)="navToLog()"> Login </ion-button>
      </ng-template>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="reviewBox">
    <h1><i>Edit your Review</i></h1>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-input value="{{restaurant}}" disabled="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea [(ngModel)]="description" label="Review" labelPlacement="floating"
            value="{{pD}}"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="rating" label="Rating" labelPlacement="floating" step="0.1" type="number" min="0"
            max="5" value="{{pR}}" placeholder="Please enter a number between 1 & 5"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-button (click)="add()"> Submit </ion-button>
  </div>

</ion-content>