<ion-header [translucent]="false">
    <ion-toolbar color="warning">
      <div id="headerBar">
        <h4> Store Score</h4>
        <div id="login" *ngIf="isName; else login">
          <ion-icon (click)="logout()" name="log-out-outline"></ion-icon>
        </div>
        <ng-template id="login" #login>
          <ion-icon (click)="navToLog()" name="log-in-outline"></ion-icon>
        </ng-template>
      </div>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true"> 
  <div id="map">
  </div>
  <div id="restList">
    <ion-list>
          <ion-card  *ngFor="let r of restaurants">
            <div id="cardHeader">
              <h3>{{r.name}} <span> {{r.rating}} <ion-icon name="star-outline"></ion-icon> </span> </h3>
              <div id="subtitle">
                <p>{{r.location}}   </p>
                <ion-button color="warning" size="small" (click)="restNav(r.name)">VIEW RATINGS</ion-button>
              </div>
            </div>
            <div id="cardContent">
              {{r.description}}
            </div>
            
            
          </ion-card>
    </ion-list> 
  </div>
  
</ion-content>
