<ion-header [translucent]="false">
  <ion-toolbar color="warning">
    <div id="headerBar">
      <h4> Store Score</h4>
      <div id="login" *ngIf="isName; else login">
        <ion-icon (click)="logout()" name="log-out-outline"></ion-icon>
      </div>
      <ng-template id="login" #login>
        <ion-icon (click)="navToLog()" name="log-in-outline"></ion-icon>
      </ng-template>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="userName">
  <ion-card-header>
    <h2>{{username}}</h2>
    </ion-card-header>
    <div id="accStats">
      <h6>Average Rating: {{avgRating | number:'1.1-2'}}</h6>
      <h6>Review Count: {{reviewCount}}</h6>
    </div>
  </ion-card>
  <h1>My Reviews</h1>
  <ion-list *ngIf= "isPresent; else elseBlock2">
    <div id="restList">
      <ion-card *ngFor="let r of restReviews">
        <div id="cardHeader">
          <div>
            <h5>
              {{r['name']}}
            </h5>
          </div>
          <p> {{r['restaurant']}}</p>
        </div>
        <div id="subtitle">
          <h5>{{r['rating']}} <ion-icon name="star-outline"></ion-icon></h5>
          <p> {{r['date']}}</p>
        </div>
        <div id="cardContent">
          {{r['description']}}
        </div>
        <ion-button class="editButton" color="warning"  shape="round" (click)="navToEdit(r['id'])" ><p>EDIT</p></ion-button>
        <ion-button class="editButton" color="warning" shape="round" (click)="delete(r['id'])"> <p> DELETE </p></ion-button>
      </ion-card>
    </div>
  </ion-list>
  <ng-template #elseBlock2>
    <h1> You currently have no submitted reviews </h1>
    <ion-button routerLink="/tab3" fill="clear">Create a Review</ion-button>
  </ng-template>
</ion-content>