<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="headerBar">
      <ion-icon name="home-outline"></ion-icon>
      <ion-title> Store Score</ion-title>
      <div *ngIf= "isName; else elseBlock">
        <ion-button (click)="logout()"> Logout </ion-button>
      </div>
      <ng-template #elseBlock>
        <ion-button (click)="navToLog()"> Login </ion-button>
      </ng-template>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title size="x-large"><i>{{username}}'s</i> Info </ion-title>
  <div id="accInfo">
    <h4>Average Rating: {{user1.avgRating}}</h4>
    <h4>Review Count: {{user1.reviewCount}}</h4>
  </div>
  <ion-button fill="clear" (click)="tester()"> Update Reviews </ion-button>
  <h1>My Reviews</h1>
  <ion-list>
    <ion-card *ngFor="let r of nReviews">
      <ion-card-header>
        <ion-card-title>
          <div id="reviewTitle">
            <div>{{r.restaurant}} {{r.rating}} <ion-icon name="star-outline"></ion-icon></div>
            <div> {{r.date}}</div>
          </div>
        </ion-card-title>
        <ion-card-subtitle>{{r.name}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{r.description}}
      </ion-card-content>
      <ion-button fill="clear">Edit</ion-button>
    </ion-card>
  </ion-list>
</ion-content>