h1,
h4 {
    margin-left: 10px;
}

#accInfo {
    display: flex;
    flex-direction: row;
}

#reviewTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:medium; 
}

